<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- so meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="eedoc">
		<link rel="shortcut icon" href="<%=relative_path%>images/favicon.ico">
		<link rel="icon" type="image/png" href="<%=relative_path%>images/favicon-192x192.png" sizes="192x192">
		<link rel="apple-touch-icon" sizes="180x180" href="<%=relative_path%>images/apple-touch-icon.png">
		<!-- title -->
		<title>Cactus Dark</title>
		<!-- styles -->
		<link rel="stylesheet" href="<%=relative_path%>css/style.css">
		<!-- persian styles -->
		<link rel="stylesheet" href="<%=relative_path%>css/rtl.css">
	</head>

	<body class="max-width mx-auto px3 ltr">
		<div class="content index py4">
			<%if(type!='post'){%>
				<%- include('_subheader'); %>
			<%}%>