			<header id="header">
				<a href="#">
					<div id="logo" style="background-image: url(<%=relative_path%>images/logo.png);"></div>
					<div id="title">
						<h1><%=config.title%></h1>
					</div>
				</a>
				<div id="nav">
					<ul>
						<li class="icon">
							<a href="#"><i class="fas fa-bars fa-2x"></i></a>
						</li>
						<li><a href="<%=relative_path%>index">
						<%=language&&language.home?language.home:'Home'%>
						</a></li>
						<li><a href="<%=relative_path%>archives">
						<%=language&&language.writing?language.writing:'Writing'%>
						</a></li>
						<li><a href="<%=relative_path%>about">
						<%=language&&language.about?language.about:'About'%>
						</a></li>
						<li><a href="<%=relative_path%>message">
						<%=language&&language.message?language.message:'Message'%>
						</a></li>
					</ul>
				</div>
			</header>