<%- include('_header',{type: "archives"}); %>
	<div id="tagCloud"></div>
	<script>
		$(document).ready(function() {
			var data = [];
			renderTagCloud(data);
		});
	</script>
	<div id="archive">
	  <ul class="post-list">
		<%if(archivePost&&archivePost.length>0){%>
			<%archivePost.forEach(function(itm){%>
				<h2 class="archive-year" id="<%=itm.group%>"><%=itm.group%></h2>
				<%itm.items.forEach(function(post){%>
					<li class="post-item">
						<div class="meta">
							<time datetime="" itemprop="datePublished"><%=post.showTime%></time>
						</div>
						<span>
						<a href="<%=relative_path%><%=post.url%>"><%=post.name%></a>
						</span>
					</li>
				<%});%>
			<%});%>
		<%}%>
	  </ul>
	    <div class="pagination">
	        <span class="page-number">Page 1 of 2</span>
	        <a href="#">
				<i class="fas fa-angle-right"></i>
	        </a>
	    </div>
	</div>
<%- include('_footer',{type: "archives"}); %>
