<%- include('_header',{type: "index"}); %>
			<section id="about">

				<div id="typed-strings">
					<p>
						<%var sayHi=language&&language.sayHi?language.sayHi:'Hi, I’m  '%>
						<%=config.user&&config.user.name?sayHi+config.user.name+"^1000.":""%>
						<br>
						<%=config.user&&config.user.desc?config.user.desc+"^500":""%>
						<br>
						<%if(config.user.social&&config.user.social.length>0){%>
							<%=language&&language.followMe?language.followMe:'Find me on'%>
							<%var family=config.iconfont&&config.iconfont.family?config.iconfont.family:'fab'%>
							<%config.user.social.forEach(function(l,i){%>
								<a class="icon" href="<%=l.link%>" target="<%=l.target%>">
									<i class="<%=family%> <%=l.icon?l.icon:'fa-heart'%>"></i>
								</a>
							<%})%>
						<%}%>
					</p>
				</div>
				<span id="typed"></span>
				<script src="lib/typed.js"></script>
				<script>
					var typed = new Typed('#typed', {
						stringsElement: '#typed-strings',
						typeSpeed: 20,
						startDelay: 300
					});
				</script>
			</section>

			<section id="writing">
				<span class="h1">
					<a href="archives"><%=language&&language.writing?language.writing:'Writing'%></a>
				</span>
				<ul class="post-list">
					<%if(allPost&&allPost.length>0){%>
						<div class="row add-bottom">
							<%allPost.slice(0,10).forEach(function(post){%>							
								<li class="post-item">
									<div class="meta">
										<time datetime="" itemprop="datePublished"><%=post.showTime%></time>
									</div>
									<span>
										<a href="<%=post.url%>"><%=post.name%></a>
									</span>
								</li>
							<%})%>
						</div>
					<%}%>
				</ul>
			</section>
			<section id="index">
				<%-describe._render%>
			</section>	
<%- include('_footer',{type: "index"}); %>
