<%- include('_header',{type: "post"}); %>
	<div id="header-post">
		<a id="menu-icon" href="#">
			<i class="fas fa-bars fa-lg"></i>
		</a>
		<a id="menu-icon-tablet" href="#"><i class="fas fa-bars fa-lg"></i></a>
		<a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;"><i
			 class="fas fa-chevron-up fa-lg"></i>
		</a>
		<span id="menu">
			<span id="nav">
				<ul>
					<li><a href="<%=relative_path%>index">
					<%=language&&language.home?language.home:'Home'%>
					</a></li>
					<li><a href="<%=relative_path%>archives">
					<%=language&&language.writing?language.writing:'Writing'%>
					</a></li>
					<li><a href="<%=relative_path%>about">
					<%=language&&language.about?language.about:'About'%>
					</a></li>
					<li><a href="<%=relative_path%>message">
					<%=language&&language.message?language.message:'Message'%>
					</a></li>
				</ul>
			</span>
	
			<br />
			<span id="actions">
				<ul>
					<li>
						<a class="icon" href="#">
							<i class="fas fa-chevron-left" aria-hidden="true" onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();"></i>
						</a>
					</li>
					<li>
						<a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
							<i class="fas fa-chevron-up" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();"></i>
						</a>
					</li>
					<li>
						<a class="icon" href="#">
							<i class="fas fa-share-alt" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();"
							 onclick="$('#share').toggle();return false;"></i>
						</a>
					</li>
				</ul>
				<span id="i-prev" class="info" style="display:none;"><%=language&&language.prepost?language.prepost:'Pre'%></span>
				<span id="i-next" class="info" style="display:none;"><%=language&&language.nextpost?language.nextpost:'Next'%></span>
				<span id="i-top" class="info" style="display:none;"><%=language&&language.backToTop?language.backToTop:'Back to Top'%></span>
				<span id="i-share" class="info" style="display:none;"><%=language&&language.share?language.share:'Share'%></span>
			</span>
			<br />
			<div id="share" style="display: none">
				<ul>
					<li><a class="icon" href="#"><i class="fab fa-facebook " aria-hidden="true"></i></a></li>
					<li><a class="icon" href="#"><i class="fab fa-twitter " aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div id="toc">
				<ol class="toc-child">
					<%if(tocArray){%>
						<%tocArray.forEach(function(itm,i){%>
							<li class="toc-item toc-level-2">
								<a class="toc-link" href="#<%=itm%>">
									<span class="toc-number"><%=i%></span>
									<span class="toc-text"><%=itm%></span>
								</a>
							</li>
						<%});%>
					<%}%>
				</ol>
			</div>
		</span>
	</div>
	<div class="content index">
		<article class="post" itemscope itemtype="#">
			<header>
				<h1 class="posttitle" itemprop="name headline"><%=describe.name%></h1>
				<div class="meta">
					<span class="author" itemprop="author" itemscope itemtype="#">
						<span itemprop="name"><%=config.user?config.user.name:config.title%></span>
					</span>
					<div class="postdate">
						<time datetime="" itemprop="datePublished"><%=describe.create_time%></time>
					</div>
					<%if(config.nav&&config.nav.busuanzi&&config.nav.busuanzi==true){%>
					<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
						<%var iview=config.iconfont&&config.iconfont.family?(config.iconfont.family+' icon-view'):'fa fa-eye'%>
						<div class="article-tag">
							<i class="<%=iview%>"></i>
							<span>
								<span id="busuanzi_value_page_pv">0</span>
							</span>
						</div>
					<%}%>
					<div class="article-category">
					        <i class="fas fa-archive"></i>
					        <a class="category-link" href="#"><%=language&&language.defaultCat?language.defaultCat:'default'%></a> › 
							<a class="category-link" href="#"><%=describe.category%></a>
					</div>
					<%if(describe.tags&&describe.tags.length>0){%>
						<div class="article-tag">
							<i class="fas fa-tag"></i>
							<%describe.tags.forEach(function(tag){%> 
								<a class="tag-link" href="#"><%=tag%></a>
							<%});%>
						</div>
					<%}%>
				</div>
			</header>
			<div class="content" itemprop="articleBody">
				{{content}}
			</div>
			<%if(config.comment&&config.comment.gitalk&&config.comment.gitalk.clientID){%>
				<%- include('comment',{type: "post"});%>
			<%}%>
		</article>
	
		<div id="footer-post-container">
			<div id="footer-post">
				
			</div>
		</div>
	</div>		
<%- include('_footer',{type: "post"}); %>			